# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

logs/
export/
/*/init.sqf
/*/initServer.sqf
/*/onPlayerRespawn.sqf
/*/initPlayerLocal.sqf
/*/onPlayerKilled.sqf
*/BWI/functions/
*/BWI/gui/
*/BWI/loadouts/
*/BWI/scripts/WerthlesHeadless.sqf
*/BWI/scripts/deployMedicalTent.sqf
*/BWI/scripts/repackageMedicalTent.sqf
*/BWI/scripts/deployFOB.sqf
*/BWI/scripts/repackageFOB.sqf
*/BWI/scripts/reinsertPlayerToFOB.sqf
*/BWI/scripts/displayReinforcements.sqf
*/BWI/cfgFunctions.hpp
*/BWI/cfgRemoteExec.hpp
!*Template.vr/**/**

!*Bootcamp.Chernarus/init.sqf
!*Bootcamp.Chernarus/initServer.sqf
!*Bootcamp.Chernarus/onPlayerRespawn.sqf
!*Bootcamp.Chernarus/initPlayerLocal.sqf
!*Bootcamp.Chernarus/onPlayerKilled.sqf

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
